footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(88, 100, 111);
    color: white;
}
.logo{
    margin-left: 20px;
    padding: 10px;
}
ul{
    display: flex;
    gap: 15px;
    margin-right: 20px;
    padding: 10px;
}